.textContent3 {
  padding-top: 20px;
  text-align: center;
  color: #22356f;
  font: {
    size: 16px;
  }
}
.blocks {
    display: flex;
    padding-top: 50px;
}
.blockitem {
   
  height: 360px;
  width: 100%;
}
