.mainContent2 {
   
    display: flex;
    justify-content: space-around;
}
.secondMain{
    padding: 170px 0 125px 0;
     background-color: #62D0DF;;
}
.textUnderMain2 {
    font: {
        size: 24px;
      }
      width: 450px;
}


// .main-content-second-2 {
//     height: 100vh;
//     width: 100vw;
// }
// .textUnderText2 {
//     color: white;
//     font: {
//         size: 36px;
//     }
// }
// .img-second-page {
//     // background: url(http://placekitten.com/420/620);
//     width: 100vh;
//     height: 100vw;
    
// }