.img3 {
  height: 800px;
  width: 480px;
  background: no-repeat url(http://placekitten.com/480/800?image=12);
}
.mainContent5 {
  display: flex;
  //   justify-content: space-between;
}
.textContent5 {
  width: 670px;
  display: flex;  
  font-size: 36px;
  flex-direction: column;
    justify-content: space-around;
}
// .blogp {
//     padding-bottom: 140px;
// }